*{
    /* 상속이 이루어지지 못하도록 진행 */
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* box-sizing: border-box; */
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    /* 페이지의 전체 넓이 */
    /* width: 50%;  */
    width: 100%;
    /* 전체 페이지 만큼 길어지는 걸 기대 */
    /* but, 부모 컨테이너의 가용 높이 만큼 길어짐 */
    /* height: 100%; */
    height: 528px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */
